/* ==============***FONTS***============== */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;  
    list-style-type: none;
}

/* ==============***TEXTE ET LIENS***============== */
a{
    text-decoration: none;
    color : #000;
}

.bold{
    font-weight: 800; 
}

.text-center{
    text-align: center; 
}

.uppercase{
    text-transform: uppercase; 
}

.cormorant {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.line1{
        line-height: 1.6;
}

.line2{
        line-height: 2.0;
}
.txt-align{
    text-align: center;
}


/* ------------------------------
            LARGEURS
 ---------------------------------*/

.w-100{
    width: 100%;
}


.w-50 {
    width: 50%;
}

.w-48{
    width: 48%;
}
.w-40{
    width: 40%;
}
.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20{
    width: 20%;
}

.w-8{
    width: 8%;
}

/* ------------------------------
            FLEXBOX
 ---------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}
.align-content{
    align-content: center;
}

.grid{
      display: grid;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

.gap-42{
    gap: 42px;
}

/* ------------------------------
         MARGIN & PADDING 
 ---------------------------------*/

 /* Margin */

.mt-16 {
    margin-top: 16px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}
.mb-64{
    margin-bottom: 64px;
}
.mt-64{
    margin-top: 64px;
}

.mt-128{
    margin-top: 128px;
}

.mb-128{
    margin-bottom: 128px;
}

.ml-32{
margin-left: 32px;
}

.mr-32{
margin-right: 32px;
}
/* padding */


.pb-16{
    padding-bottom: 16px;
}

.pt-16{
    padding-top: 16px;
}

.pb-32{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pb-32{
    padding-bottom: 32px;
}

.pt-128{
    padding-top: 128px;
}

.pb-128{
    padding-bottom: 128px;
}

.pad {
    padding: 10px 5px 10px 5px
}
/* ------------------------------
            CONTAINER
 ---------------------------------*/

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-1100{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* ==============***COMMUN***============== */
.btn{
color: #FFF;
background-color: #000;
text-decoration: none;
font-size: 11px;
border-radius: 30%;
gap: 15px 50px 15px 50px;
font-family: "Manrope", sans-serif;
margin-top: 10px;
}

.btn-center{
    margin-left: 115px;
}
.btn12{
    margin-top: -4px;
}
h2{
    margin: 75px auto 20px auto;
    text-align: center;
}


/* ==============***HEADER***============== */
header{
height: 60px;
background-color: #ea9898;
}
.navbar{
    margin: auto;
    display: flex;
justify-content: flex-end;
margin-right: 60px;
gap: 32px;
}
.logo{
height: 80px;
width: auto;
position: relative;
padding-left: 10px;
margin-top: -10px;
}

/* ==============***HERO***============== */

.hero-content{
    padding-left: 100px;
    line-height: 1.6;
}

.CTA {
    padding-left: 32px;
}

/* ==============***PROMESSE***============== */

.w-50g{
    width: calc(50% - 8px);
}

.m50{
    margin-left: 100px;
}

/* ==============***SERVICES***============== */

.card {
    width: 28%;
    padding: 8px;
    background-color: rgb(255, 87, 87);
    border-radius: 16px;
}

/* ==============***REALISATION***============== */

.h100{
height: 60vh;
align-content: center;}

h4 {
    margin-bottom: 22px;
    font-size: 22px;
}

/* ==============***TEMOIGNAGES***============== */

.ph ph-caret-left {
transform: translate(0px, 0px);

}

.ph ph-caret-right {
transform: translate(0, 0px);
}

.picture{
    border-radius: 200px;
}

.card1 {
    background-color: #f19999;
    /*height: 200px;*/
}


/* ==============***FOOTER***============== */

footer{
    height: 70vh;
    flex-direction: column;
    display: flex;
}